<center><h2>Mechanics Show</h2></center>

<center>Mechanic Name: <%= @mechanic.name %></center>
<center>Years Of Experience: <%= @mechanic.years_experience %></center>
<center>Rides Working On: <% @mechanic.rides.each do |ride| %>
<%= ride.name %>
<% end %></center>

<center><h2>Add A Ride!
