<h1>Amusement Park Show Page</h1>

<div id="amusement_park_info">
  <p>Park Name: <%= @amusement_park.name %></p>
  <p>Price of Admission: <%= number_to_currency(@amusement_park.admission_cost / 100.00) %></p>
</div>

<div id="mechanics_lists">
  <h3>Mechanics Working at this Park:</h3>
  <ul>
    <% @amusement_park.unique_mechanics.each do |mechanic| %>
    <li><%= mechanic.name %>
    <% end %>
  </ul>
</div>